@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.item figure.item-image {
  position: relative;
  perspective: 10000px;
}

.item figure.item-image:before {
  content: '';
  @apply absolute inset-0 bg-secondary opacity-0 transition-all duration-200;
}

.item:hover figure.item-image:before {
  @apply opacity-60;
}

.item figure.item-image svg.icon {
  content: '';
  position: absolute;
  width: 46px;
  height: 46px;
  top: 50%;
  left: 50%;
  transform-origin: bottom;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotateX(-45deg);
  @apply transition-all duration-300;
}

.item:hover figure.item-image svg.icon {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) rotateX(0deg);
}
.link-wrapped:before {
  content: '';
  @apply cursor-pointer z-10 inset-0 absolute;
}

.card:hover {
  background-color: rgb(204, 203, 203);
  @apply bg-opacity-20;
}

.video-wrapper {
  padding-bottom: 56.25%;
  height: 0;
  @apply absolute inset-0 z-0;
  /* @apply absolute left-0 top-0 w-full h-full; */
}

.video-wrapper iframe {
  @apply absolute left-0 top-0 w-full h-full;
}

.item figure.item-image {
  position: relative;
  perspective: 10000px;
}

.item figure.item-image:before {
  content: '';
  @apply absolute rounded-2xl inset-0 bg-secondary opacity-0 transition-all duration-200;
}

.item:hover figure.item-image:before {
  @apply opacity-40;
}

.item figure.item-image svg.icon {
  content: '';
  position: absolute;
  width: 46px;
  height: 46px;
  top: 50%;
  left: 50%;
  transform-origin: bottom;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotateX(-45deg);
  @apply transition-all duration-300;
}

.item figure.item-image svg.icon circle {
  @apply fill-secondary;
}

.item:hover figure.item-image svg.icon {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) rotateX(0deg);
}

.accordion-item {
  @apply transition-all duration-300;
}

.accordion-item-enter {
  opacity: 0;
}

.accordion-item-enter-active {
  opacity: 1;
}
.accordion-item-exit {
  opacity: 1;
}
.accordion-item-exit-active {
  opacity: 0;
}
/* .accordion-item .accordion-item; */
